@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap');

*{
   margin: 0;
   padding: 0;
     box-sizing: border-box;
   font-size: 'spartan', sans-serif;
}
body{
   background-color: #f0f4fa;
}

      .services{
         width: 90%;
         line-height: 35px;
         /* height: 400px; */
         text-align: center;
         margin: 30px 25px 30px 45px;
         padding: 20px;
         border-radius: 15px;
         background-color: white
         
         /* background-image: url(/static/images/gas.jpg); */
      }

      .contain{
         display: flex;
         justify-content: center;
         margin: 25px;
      }
      
      @media (max-width: 799px){
      .services{
         text-align: center;
      }
      }
      @media (max-width: 477px){
         .services{
            text-align: center;
         }
      }

      .chat{
         width: 85%;
         line-height: 35px;
         text-align: center;
         margin: 15px 25px 0 65px;
         padding: 20px;
         border-radius: 15px;
         background-color: #0747b6;
         
      }

    .calinfo{
      background-color: #0747b6;
       width: 22%;
        margin-left: 120px;
        border-radius: 2%;
        margin-bottom: 45px;
   }

   @media (max-width: 799px){
      .calinfo{
         width: 65%;
        margin-left: 95px;
      }}


   @media (max-width: 477px){
      .calinfo{
         width: 85%;
        margin-left: 20px;
      }
   }

