{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/svg-with-js.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
	
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% block content %}

<div class="services">

    <div class="container" style="display: flex; gap: 15px;">
        <div class="calinfo" style="flex: 1; text-align: center; background: #333; padding: 15px; border-radius: 8px;">
            <h4 style="color: #f0f4fa; font-size: 28px;">BAL: #2,000</h4>
        </div>
    
        <div class="calinfo" style="flex: 1; text-align: center; background: #333; padding: 15px; border-radius: 8px;">
           <a href="/dashboard">

            <i class="fas fa-tachometer-alt" style="color: #f0f4fa; font-size: 28px;"></i> 
           </a> <!-- Dashboard icon -->
        </div>
    </div>
    



    <div class="contain">
        <a href="" style="margin-right: 45px;">
        <div style="margin: 12px 12px 15px 12px;">
        <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                <div style="padding: 9px 22px 8px 22px;">
                <i class="fa-solid fa-money-check-dollar fa-6x" style="color: #0747b6;"></i>
                <h4 style="margin-top: 16px; font-size: 25px;">Fund Wallet</h4>
                </div>
        </button>
        </div>
        </a>

        <a href="{% url 'dataform' %}">
            <div style="margin: 12px 12px 15px 12px;">
            <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                    <div style="padding: 9px 22px 8px 22px;">
                    <i class="fa-solid fa-signal fa-6x" style="color: #0747b6;"></i>
                    <h4 style="margin-top: 16px; font-size: 25px;">Data</h4>
                    </div>
            </button>
            </div>
            </a>

            <a href="" style="margin-left: 45px;">
                <div style="margin: 12px 12px 15px 12px;">
                <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                        <div style="padding: 9px 22px 8px 22px;">
                        <i class="fa-solid fa-layer-group fa-6x" style="color: #0747b6;"></i>
                        <h4 style="margin-top: 16px; font-size: 25px;">Transactions</h4>
                        </div>
                </button>
                </div>
                </a>

        </button>
    </div>

    <div class="contain">
        <a href="{% url 'airtimeform' %}" style="margin-right: 45px;">
        <div style="margin: 12px 12px 15px 12px;">
        <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                <div style="padding: 9px 22px 8px 22px;">
                <i class="fa-solid fa-phone-volume fa-6x" style="color: #0747b6;"></i>
                <h4 style="margin-top: 16px; font-size: 25px;">Airtime</h4>
                </div>
        </button>
        </div>
        </a>

        <a href="">
            <div style="margin: 12px 12px 15px 12px;">
            <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                    <div style="padding: 9px 22px 8px 22px;">
                    <i class="fa-solid fa-wand-magic-sparkles fa-6x" style="color: #0747b6;"></i>
                    <h4 style="margin-top: 16px; font-size: 25px;">Electricity</h4>
                    </div>
            </button>
            </div>
            </a>

            <a href="" style="margin-left: 45px;">
                <div style="margin: 12px 12px 15px 12px;">
                <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                        <div style="padding: 9px 22px 8px 22px;">
                        <i class="fa-solid fa-book-open-reader fa-6x" style="color: #0747b6;"></i>
                        <h4 style="margin-top: 16px; font-size: 25px;">Result Checker</h4>
                        </div>
                </button>
                </div>
                </a>

        </button>
    </div>

    <div class="contain">
        <a href="" style="margin-right: 45px;">
        <div style="margin: 12px 12px 15px 12px;">
        <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                <div style="padding: 9px 22px 8px 22px;">
                <i class="fa-solid fa-print fa-6x" style="color: #0747b6;"></i>
                <h4 style="margin-top: 16px; font-size: 25px;">Paper Card</h4>
                </div>
        </button>
        </div>
        </a>

        <a href="">
            <div style="margin: 12px 12px 15px 12px;">
            <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                    <div style="padding: 9px 22px 8px 22px;">
                    <i class="fa-solid fa-right-left fa-6x" style="color: #0747b6;"></i>
                    <h4 style="margin-top: 16px; font-size: 25px;">Airtime-Cash</h4>
                    </div>
            </button>
            </div>
            </a>

            <a href="" style="margin-left: 45px;">
                <div style="margin: 12px 12px 15px 12px;">
                <button style="border: white; border-radius: 15%;background-color: #f0f4fa;">
                        <div style="padding: 9px 22px 8px 22px;">
                        <i class="fa-solid fa-tv fa-6x" style="color: #0747b6;"></i>
                        <h4 style="margin-top: 16px; font-size: 25px;">TV Sub</h4>
                        </div>
                </button>
                </div>
                </a>

        </button>
    </div>

</div>


<div style="margin: 7px 0px 0px 35px;">
<marquee bgcolor="#f0f4fa" loop="-1" scrollamounts="5" width="90%"> <p style="font-size: 25px;"> Welcome to wise choice construction company, our trusted partner for innovative and sustainable biogas, biodigester, and plumbing solutions.</p>
</marquee>
</div>

    <div class="chat">
        <a href="/">
        <div class="contain">
            <div style="margin: 0px 80px 2px -12px;">
            <button style="width: 120px; height: 90px; border: white; border-radius: 5%; background-color: #f0f4fa;">
                <div style="padding: 9px 15px 8px 15px;">
                    <i class="fa-brands fa-square-whatsapp fa-fade fa-5x" style="color: #0747b6;"></i>
                    <h4 style="margin-top: 10px; color: #f0f4fa; font-size: 25px;">Platform</h4>
                    </div>
            </button>
            </div>
            </a>

            <a href="/">
            <div style="margin: 0px 2px 2px 20px;">
                <button style="width: 120px; height: 90px; border: white; border-radius: 5%; background-color: #f0f4fa;">
                    <div style="padding: 9px 15px 8px 15px;">
                        <i class="fa-brands fa-square-whatsapp fa-fade fa-5x" style="color: #0747b6;"></i>
                        <h4 style="margin-top: 10px; font-size: 25px; color: #f0f4fa;">Chat Us</h4>
                        </div>
                </button>
                </div>
                </a>

            
        </div>
    </div>
    
    {% endblock content %}